/*
main : #008b8b
sub : #3d9999
accent : #ff406c
*/

.site-content {
    overflow: visible;
}



/* FIRST VIEW */
#fv {
    padding: 200px 0;
    background: #222;
}
#fv h2 {
    width: 90%;
    margin: 0 auto;
    color: #008b8b;
    font-size: 130px;
    font-weight: bold;
    letter-spacing: .1em;
}
@media screen and (max-width: 1000px) {
    #fv {
        padding: 120px 0;
    }
}
@media screen and (max-width: 767px) {
    #fv h2 {
        font-size: 90px;
    }
}
@media screen and (max-width: 480px) {
    #fv h2 {
        font-size: 60px;
    }
}


/* NEWS */
#news {
    width: 100%;
    padding: 60px 0;
    background: #008b8b;
}
#news a {
    display: inline-block;
    color: #fff;
    line-height: 2em;
}
#news a:hover {
    font-weight: bold;
}
#news a span {
    margin: 0 1em;
}
#news .swiper-container {
    width: 100%;
    max-width: 1200px;
    height: 4em;
    padding: 0 50px;
}
#news .swiper-wrapper {
    margin: 0;
}
@media screen and (max-width: 767px) {
    #news {
        padding: 30px 0;
        font-size: 12px;
    }
    #news a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #news .swiper-container {
        padding: 0 5%;
    }
}


/* SERVICE */
#service {
    width: 100%;
    max-width: 1200px;
    padding: 90px 50px;
    margin: 0 auto;
}
#service ul {
    display: flex;
    margin: 0 auto 60px;
}
#service ul li {
    flex: 1;
}
#service ul li + li {
    margin-left: 24px;
}
#service .icon {
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background: #008b8b;
}
#service h3 {
    margin: 30px auto;
    color: #008b8b;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: .04em;
    line-height: 1.2em;
    text-align: left;
}
#service .description {
    margin: 0 auto;
    color: rgba(0,0,0,.6);
    font-size: 13px;
    text-align: left;
}
@media screen and (max-width: 767px) {
    #service {
        padding: 60px 5% 90px;
    }
    #service ul {
        display: block;
        margin-bottom: 45px;
    }
    #service ul li + li {
        margin: 30px auto 0;
    }
    #service .icon {
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }
    #service h3 {
        margin: 15px auto;
        font-size: 24px;
    }
}


/* CAREER */
#career {
    padding: 60px 0;
    background: #222;
}
#career .inner {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}
#career .inner li {
    flex: 1;
    text-align: center;
}
#career i {
    color: #008b8b;
    font-size: 48px;
}
#career .num {
    margin: 25px auto 10px;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    line-height: 1em;
}
#career .num span {
    margin-left: .3em;
    font-size: 14px;
}
#career .text {
    margin: 0 auto;
    color: #008b8b;
    font-size: 16px;
    letter-spacing: .05em;
}
@media screen and (max-width: 767px) {
    #career .inner {
        flex-wrap: wrap;
        padding: 0 5%;
    }
    #career .inner li {
        flex: auto;
        width: 50%;
    }
    #career .inner li:nth-child(n + 3) {
        margin-top: 30px;
    }
    #career i {
        font-size: 36px;
    }
    #career .num {
        margin: 10px auto 0;
        font-size: 36px;
    }
    #career .num span {
        font-size: 10px;
    }
    #career .text {
        font-size: 14px;
    }
}


/* WORKS */
#works {
    position: relative;
    padding: 90px 0;
    overflow: hidden;
}
#works .ttl {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 60px;
    padding: 0 50px;
}
#works .ttl h2 {
    position: relative;
    margin: 0 auto 30px;
    color: #008b8b;
    letter-spacing: .05em;
}
#works .ttl p {
    margin: 0 auto;
    color: #222;
}
#works .inner {
    position: relative;
    padding: 80px 50px 100px;
    overflow: hidden;
}
#works .inner:before {
    content: '';
    display: block;
    width: 100%;
    height: -webkit-calc(100% - 200px);
    height: calc(100% - 200px);
    position: absolute;
    top: 0;
    left: 0;
    background: #008b8b;
}
#works .swiper-container {
    width: 90%;
    max-width: 1100px;
    height: 450px;
    overflow: visible;
}
#works .swiper-slide {
    position: relative;
    height: 300px;
    transition: all .5s;
}
#works .swiper-slide a {
    display: block;
    height: 100%;
    transition: all .2s;
}
#works .swiper-slide a:hover {
    transform: translateY(-4px);
}
#works .swiper-slide .thumb {
    height: 100%;
    background: transparent center top / cover no-repeat;
}
#works .swiper-slide .info {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background: rgba(0,0,0,.6);
    box-sizing: border-box;
}
#works .swiper-slide .info h3 {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
}
#works .swiper-slide .info .tag {
    width: 100%;
    margin: 0 auto 5px;
    color: rgba(255,255,255,.87);
    font-size: 10px;
    line-height: 1em;
}
#works .swiper-slide .info .tag span + span:before {
    content: '/';
    margin: 0 .5em;
}

#works .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -40px;
    font-size: 0;
}
#works .swiper-pagination-bullet {
    width: 40px;
    height: 5px;
    border-radius: 0;
}
#works .swiper-pagination-bullet-active {
    background: #008b8b;
}
#works .swiper-button-next,
#works .swiper-button-prev {
    top: 150px;
    background: none;
}
#works .swiper-button-next {
    right: -67px;
}
#works .swiper-button-prev {
    left: -67px;
}
#works .swiper-button-next:before,
#works .swiper-button-prev:before {
    content: '';
    display: block;
    width: 31px;
    height: 31px;
    border-top: 2px solid #008b8b;
    pointer-events: none;
}
#works .swiper-button-next:before {
    margin-top: 6px;
    margin-left: -12px;
    border-right: 2px solid #008b8b;
    transform: rotate(45deg);
}
#works .swiper-button-prev:before {
    margin-top: 6px;
    margin-left: 8px;
    border-left: 2px solid #008b8b;
    transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
    #works .swiper-slide.swiper-slide-active {
        height: 450px;
    }
    #works .swiper-slide.swiper-slide-active .info {
        position: absolute;
        width: -webkit-calc(200% + 20px);
        width: calc(200% + 20px);
        height: 100px;
        left: -webkit-calc(100% + 20px);
        left: calc(100% + 20px);
        padding: 0 0 0 50px;
        background: transparent;
    }
    #works .swiper-slide.swiper-slide-active .info:before {
        content: '';
        display: block;
        position: absolute;
        left: -80px;
        top: 0;
        bottom: 0;
        width: 100px;
        height: 1px;
        margin: auto;
        background: #008b8b;
    }
    #works .swiper-slide.swiper-slide-active .info:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -90px;
        width: 30px;
        height: 30px;
        margin: auto;
        background: #008b8b;
        border-radius: 15px;
    }
    #works .swiper-slide.swiper-slide-active .info h3 {
        color: rgba(0,0,0,.87);
        font-size: 24px;
        font-weight: bold;
        line-height: 1em;
    }
    #works .swiper-slide.swiper-slide-active .info .tag {
        margin-bottom: 10px;
        color: rgba(0,0,0,.87);
        font-size: 14px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    #works .swiper-slide.swiper-slide-active .info {
        width: -webkit-calc(200% + 14px);
        width: calc(200% + 14px);
        left: -webkit-calc(100% + 14px);
        left: calc(100% + 14px);
    }
}
@media screen and (max-width: 1024px) {
    #works .swiper-container {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    #works .swiper-container {
        width: 96%;
    }
    #works .swiper-slide.swiper-slide-prev,
    #works .swiper-slide.swiper-slide-next {
        opacity: .6;
        pointer-events: none;
    }
    #works .swiper-button-prev,
    #works .swiper-button-next {
        width: 40px;
        height: 40px;
        background: #008b8b;
    }
    #works .swiper-button-prev {
        left: -40px;
    }
    #works .swiper-button-next {
        right: -40px;
    }
    #works .swiper-button-next:before,
    #works .swiper-button-prev:before {
        width: 16px;
        height: 16px;
        border-top-color: #fff;
    }
    #works .swiper-button-prev:before {
        margin: 12px 0px 0 16px;
        border-left-color: #fff;
    }
    #works .swiper-button-next:before {
        margin: 12px 0 0 8px;
        border-right-color: #fff;
    }
}
@media screen and (max-width: 767px) {
    #works {
        padding: 60px 0 90px;
    }
    #works .ttl {
        margin-bottom: 30px;
        padding: 0 5%;
    }
    #works .ttl h2 {
        margin-bottom: 15px;
    }
    #works .ttl p {
        font-size: 12px;
    }
    #works .inner {
        margin-bottom: 30px;
        padding: 30px 50px 60px;
    }
    #works .inner:before {
        height: 100%;
    }
    #works .swiper-container {
        height: auto;
    }
    #works .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: -32px;
    }
    #works .swiper-pagination-bullet-active {
        background: #fff;
    }
    #works .btn {
        padding: 0 5%;
    }
}
@media screen and (max-width: 480px) {
    #works .swiper-pagination-bullet {
        width: 30px;
        margin: 0 2px;
    }
}


/* BLOG */
#blog {
    padding: 90px 0;
    background: #222;
}
#blog .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}
#blog h2 {
    margin: 0 auto 30px;
    color: #008b8b;
    letter-spacing: .05em;
}
#blog .inner > p {
    margin: 0 auto 60px;
    color: #fff;
}
#blog .content {
    display: flex;
    margin-bottom: 60px;
}
#blog .post-list-item {
    flex: 1;
}
#blog .post-list-item + .post-list-item {
    margin-left: 30px;
}
#blog .post-list-item a {
    display: block;
    color: rgba(0,0,0,.87);
    background: #fff;
    transition: all .2s;
}
#blog .post-list-item a:hover {
    transform: translateY(-4px);
}
#blog .post-list-item .thumb {
    padding-top: 45%;
    background: transparent center / cover no-repeat;
}
#blog .post-list-item .info {
    padding: 30px;
}
#blog .post-list-item .info h3 {
    margin: 0 auto 14px;
    font-size: 16px;
    line-height: 1.4;
}
#blog .post-list-item .info .category {
    margin: 0 auto;
    color: #008b8b;
    font-size: 0;
}
#blog .post-list-item .info .category span {
    display: inline-block;
    margin-right: 1em;
    font-size: 12px;
}
#blog .post-list-item .info .date {
    margin: 0 auto;
    text-align: right;
}
#blog .post-list-item .info .date time {
    display: inline-block;
    margin-left: 1em;
    color: rgba(0,0,0,.6);
    font-size: 12px;
}
#blog .post-list-item .info .date time:before {
    display: inline-block;
    margin-right: .5em;
    font-family: FontAwesome;
}
#blog .post-list-item .info .date time:nth-of-type(1):before {content: '\f017';}
#blog .post-list-item .info .date time:nth-of-type(2):before {content: '\f021';}

#blog .tveffect div:nth-child(1) {
    color: #fff;
    background: #008b8b;
}
@media screen and (max-width: 767px) {
    #blog {
        padding: 60px 0 90px;
    }
    #blog .inner {
        padding: 0 5%;
    }
    #blog h2 {
        margin: 0 auto 15px;
    }
    #blog .inner > p {
        margin: 0 auto 30px;
        font-size: 12px;
    }
    #blog .content {
        display: block;
        margin-bottom: 30px;
    }
    #blog .post-list-item + .post-list-item {
        margin: 15px auto 0;
    }
    #blog .post-list-item a {
        display: flex;
    }
    #blog .post-list-item .thumb {
        width: 30%;
        padding-top: 0;
    }
    #blog .post-list-item .info {
        width: 70%;
        padding: 15px;
    }
    #blog .post-list-item .info h3 {
        margin-bottom: .5em;
        font-size: 14px;
    }
    #blog .post-list-item .info .category span {
        font-size: 10px;
    }
}


/* CONTACT */
#contact {
    padding: 90px 0;
}
#contact .inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}
#contact h2 {
    margin: 0 auto 30px;
    color: #008b8b;
    letter-spacing: .05em;
}
#contact .inner > p {
    margin: 0 auto 60px;
}
#contact form {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}
#contact .col1 {
    margin-top: 15px;
}
#contact .col2 {
    display: flex;
}
#contact .col2 > div {
    flex: 1;
}
#contact .col2 > div + div {
    margin-left: 30px;
}
#contact input {
    line-height: 40px;
}
#contact input,
#contact textarea {
    width: 100%;
    border: 2px solid #222;
    border-radius: 3px;
}
#contact .label span {
    display: inline-block;
    padding: 3px 4px;
    margin-left: .5em;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 1em;
    background: red;
}
#contact .wpcf7-submit {
    display: block;
    width: 100%;
    max-width: 340px;
    margin: 45px auto 0;
    padding: 12px 0;
    color: #008b8b;
    font-size: 14px;
    font-weight: normal;
    line-height: inherit;
    text-align: center;
    background: #fff;
    border: 1px solid #008b8b;
    border-radius: 50px;
}
@media screen and (max-width: 767px) {
    #contact {
        padding: 60px 0;
    }
    #contact .inner {
        padding: 0 5%;
    }
    #contact h2 {
        margin: 0 auto 15px;
    }
    #contact .inner > p {
        margin: 0 auto 30px;
    }
    #contact .col1 {
        margin-top: 10px;
    }
    #contact .col2 {
        display: block;
    }
    #contact .col2 > div + div {
        margin: 10px auto 0;
    }
    #contact .wpcf7-submit {
        margin-top: 30px;
    }
}

/**
 * HOVER EFFECT
 */
.tveffect { display: block; position: relative; width: 100%; max-width: 340px; margin: 0 auto; line-height: 30px; text-align: center; }
.tveffect div { position: absolute; width: 100%; height: 50px; padding: 10px; box-sizing: border-box; border-radius: 25px; }
.tveffect div:nth-child(1) { color: #008b8b; background: #fff; -webkit-transition: all 0.1s ease; border: #008b8b solid 1px; }
.tveffect div:nth-child(1) span { display: inline-block; }
.tveffect div:nth-child(2) { overflow: hidden; }
.tveffect div:nth-child(2) div { position: absolute; border: #008b8b hidden 1px; }
.tveffect div:nth-child(2) div:nth-child(1) { color: rgba(200, 120, 120, .8); opacity: 0; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat; }
.tveffect div:nth-child(2) div:nth-child(2) { color: rgba(120, 200, 120, .8); opacity: 0; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat; }
.tveffect div:nth-child(2) div:nth-child(3) { color: rgba(120, 120, 200, .8); opacity: 0; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAGCAYAAAAL+1RLAAAAF0lEQVQIW2NkwAIYgWKS6OIgQQxAoUoAE4AAUnD/0ugAAAAASUVORK5CYII=) repeat; }
.tveffect:hover div:nth-child(1) { color: #fff; background: #008b8b; transition: color 0s ease; -webkit-transition: color 0s ease; -moz-transition: color 0s ease; transition: background-color .3s ease .2s; -webkit-transition: background-color .3s ease .2s; -moz-transition: background-color .3s ease .2s; }
.tveffect:hover div:nth-child(1) span.rot1 { transform: rotate(-30deg); }
.tveffect:hover div:nth-child(1) span.rot2 { transform: rotate(130deg); }
.tveffect:hover div:nth-child(1) span.rot3 { transform: rotateY(180deg); animation: vibration1 2s linear 0s infinite;}
.tveffect:hover div:nth-child(1) span.rot4 { transform: rotate(-100deg); }
.tveffect:hover div:nth-child(1) span.rot5 { transform: rotate(70deg); animation: vibration2 2s linear 1s infinite;}
.tveffect:hover div:nth-child(1) span.rot6 { transform: rotate(40deg); }
.tveffect:hover div:nth-child(2) div:nth-child(1) { animation: tveffect_red .25s linear; -webkit-animation: tveffect_red .25s linear; -moz-animation: tveffect_red .25s linear; }
.tveffect:hover div:nth-child(2) div:nth-child(2) { animation: tveffect_green .25s linear; -webkit-animation: tveffect_green .25s linear; -moz-animation: tveffect_green .25s linear; }
.tveffect:hover div:nth-child(2) div:nth-child(3) { animation: tveffect_blue .25s linear; -webkit-animation: tveffect_blue .25s linear; -moz-animation: tveffect_blue .25s linear; }
@-webkit-keyframes tveffect_red {
    from, to { opacity: 0; }
    25% { opacity: 1; -webkit-transform: scale(1.8, 1.6) translate(-10px, 3px) skewX(30deg); }
    50% { opacity: 1; -webkit-transform: scale(1.5, 1.2) translate(20px, 6px) skewX(5deg); }
    75% { opacity: 1; -webkit-transform: scale(.9, 1.8) translate(-16px, -1px) skewX(-20deg); }
}
@-webkit-keyframes tveffect_green {
    from, to { opacity: 0; }
    25% { opacity: 1; -webkit-transform: scale(1.3, 1.5) translate(3px, 6px) skewX(25deg); }
    50% { opacity: 1; -webkit-transform: scale(1.6, 1.1) translate(-16px, -5px) skewX(-15deg); }
    75% { opacity: 1; -webkit-transform: scale(1, 1.8) translate(18px, 4px) skewX(15deg); }
}
@-webkit-keyframes tveffect_blue {
    from, to { opacity: 0; }
    25% { opacity: 1; -webkit-transform: scale(1.2, 1.4) translate(-10px, -3px) skewX(-25deg); }
    50% { opacity: 1; -webkit-transform: scale(1.9, 1.1) translate(16px, 3px) skewX(5deg); }
    75% { opacity: 1; -webkit-transform: scale(1.3, 2) translate(-30px, -3px) skewX(20deg); }
}
@-moz-keyframes tveffect_red {
    from, to { opacity: 0; }
    25% { opacity: 1; transform: scale(1.8, 1.6) translate(-10px, 3px) skewX(30deg); }
    50% { opacity: 1; transform: scale(1.5, 1.2) translate(20px, 6px) skewX(5deg); }
    75% { opacity: 1; transform: scale(.9, 1.8) translate(-16px, -1px) skewX(-20deg); }
}
@-moz-keyframes tveffect_green {
    from, to { opacity: 0; }
    25% { opacity: 1; transform: scale(1.3, 1.5) translate(3px, 6px) skewX(25deg); }
    50% { opacity: 1; transform: scale(1.6, 1.1) translate(-16px, -5px) skewX(-15deg); }
    75% { opacity: 1; transform: scale(1, 1.8) translate(18px, 4px) skewX(15deg); }
}
@-moz-keyframes tveffect_blue {
    from, to { opacity: 0; }
    25% { opacity: 1; transform: scale(1.2, 1.4) translate(-10px, -3px) skewX(-25deg); }
    50% { opacity: 1; transform: scale(1.9, 1.1) translate(16px, 3px) skewX(5deg); }
    75% { opacity: 1; transform: scale(1.3, 2) translate(-30px, -3px) skewX(20deg); }
}
@-webkit-keyframes vibration1 {
    0% {-webkit-transform: translate(0px, 0px) rotateY(180deg)}
    84% {-webkit-transform: translate(0px, 0px) rotateY(180deg)}
    86% {-webkit-transform: translate(2px, 2px) rotateY(180deg)}
    88% {-webkit-transform: translate(0px, 2px) rotateY(180deg)}
    90% {-webkit-transform: translate(2px, 0px) rotateY(180deg)}
    92% {-webkit-transform: translate(0px, 0px) rotateY(180deg)}
    94% {-webkit-transform: translate(2px, 2px) rotateY(180deg)}
    96% {-webkit-transform: translate(0px, 2px) rotateY(180deg)}
    98% {-webkit-transform: translate(2px, 0px) rotateY(180deg)}
    100% {-webkit-transform: translate(0px, 0px) rotateY(180deg)}
}
@-moz-keyframes vibration1 {
    0% {transform: translate(0px, 0px) rotateY(180deg)}
    84% {transform: translate(0px, 0px) rotateY(180deg)}
    86% {transform: translate(2px, 2px) rotateY(180deg)}
    88% {transform: translate(0px, 2px) rotateY(180deg)}
    90% {transform: translate(2px, 0px) rotateY(180deg)}
    92% {transform: translate(0px, 0px) rotateY(180deg)}
    94% {transform: translate(2px, 2px) rotateY(180deg)}
    96% {transform: translate(0px, 2px) rotateY(180deg)}
    98% {transform: translate(2px, 0px) rotateY(180deg)}
    100% {transform: translate(0px, 0px) rotateY(180deg)}
}
@-webkit-keyframes vibration2 {
    0% {-webkit-transform: translate(0px, 0px) rotate(70deg)}
    84% {-webkit-transform: translate(0px, 0px) rotate(70deg)}
    86% {-webkit-transform: translate(2px, 2px) rotate(70deg)}
    88% {-webkit-transform: translate(0px, 2px) rotate(70deg)}
    90% {-webkit-transform: translate(2px, 0px) rotate(70deg)}
    92% {-webkit-transform: translate(0px, 0px) rotate(70deg)}
    94% {-webkit-transform: translate(2px, 2px) rotate(70deg)}
    96% {-webkit-transform: translate(0px, 2px) rotate(70deg)}
    98% {-webkit-transform: translate(2px, 0px) rotate(70deg)}
    100% {-webkit-transform: translate(0px, 0px) rotate(70deg)}
}
@-moz-keyframes vibration2 {
    0% {transform: translate(0px, 0px) rotate(70deg)}
    84% {transform: translate(0px, 0px) rotate(70deg)}
    86% {transform: translate(2px, 2px) rotate(70deg)}
    88% {transform: translate(0px, 2px) rotate(70deg)}
    90% {transform: translate(2px, 0px) rotate(70deg)}
    92% {transform: translate(0px, 0px) rotate(70deg)}
    94% {transform: translate(2px, 2px) rotate(70deg)}
    96% {transform: translate(0px, 2px) rotate(70deg)}
    98% {transform: translate(2px, 0px) rotate(70deg)}
    100% {transform: translate(0px, 0px) rotate(70deg)}
}